DB_HOST=localhost
DB_PORT=5432
DB_NAME=ncs_search
DB_USER=postgres
DB_PASSWORD=postgres
APP_NAME=NCS Search API
APP_VERSION=0.1.0
JWT_SECRET=change-this-to-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
JOB_DESCRIPTION_ORG=Pharos